{
  "printWidth": 180,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "lf",
  "singleAttributePerLine": false,
  "useTabs": false
}
