@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
}

.app {
  @apply h-screen w-screen max-w-[100vw] bg-zinc-900 text-lg text-zinc-300;
}

.image-pixelated {
  image-rendering: pixelated;
  image-resolution: snap;
}

.selected {
  @apply bg-zinc-700;
}

.collapsed {
  @apply w-16 overflow-hidden;
}

.gutter {
  scrollbar-gutter: stable both-edges;
}

input[type=range] {
  @apply appearance-none bg-transparent cursor-pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  background-image: repeating-linear-gradient(90deg, #fff 0px, #fff 1rem, #000 1.1rem);

  @apply bg-gray-500 h-2 rounded w-32;
}

input[type=range]::-webkit-slider-thumb {
  @apply appearance-none bg-gray-300 w-0.5 h-4 rounded-full -mt-1;
}

datalist {
  @apply bg-red-600;
}

.custom-slider {
  @apply relative max-w-[10rem] cursor-pointer;
}

.custom-slider-track {
  @apply w-full h-2 bg-gray-500 rounded;
}

.custom-slider-thumb {
  /*-webkit-user-drag: none;*/

  @apply absolute w-4 h-4 bg-gray-300 rounded-full top-0 -ml-1.5 z-10 cursor-pointer;
}
.custom-slider-thumb:active {
  /*-webkit-user-drag: none;*/

  @apply cursor-grabbing;
}

.custom-slider-tick::before {
  content: "";

  @apply block h-1 mt-1 border-x border-gray-400;
}
